.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Title-name {
  font-family: 'Poppins-Light';
  font-weight: 400;
  font-size: 5vmin;
  line-height: 19px;
  display: flex;
  align-items: center;
  position: absolute;

  color: #BC0000;
}
.Title-surname {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 5vmin;
  line-height: 19px;
  display: flex;
  left: 30vmin;
  align-items: center;
  position: absolute;

  color: #FFFAEC;
}
.Menu-item {
  display: flex;
  justify-content: space-around;
  min-width: 80vmin;
}
.Item {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 5vmin;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #BC0000;
}
.Container-Red {
  position: absolute;
  min-width: 62vmin;
  min-height: 68vmin;
  display: flex;
  left: 32vmin;
  top: 0px;

  background: #BC0000;
  border-radius: 0vmin 0vmin 50vmin 50vmin;
}

.App-header {
  background-color: #FFFAEC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
